[Unit]
Description=Run ironbar_weather script (oneshot)

[Service]
Type=oneshot
ExecStart=/usr/bin/nu -n /usr/bin/ironbar_weather
ProtectSystem=strict
ProtectHome=true
PrivateTmp=true
