/** Colors **/

/* Widget surfaces */
@define-color widget-border hsl(135 14% 44%);
@define-color widget-bg hsl(135 18% 64%);
@define-color widget-bg-hover hsl(135 20% 60%);
@define-color widget-inner-bg hsl(135 16% 70%);

/* Theme helpers */
/* general body text on green surfaces */
@define-color text-default hsl(220 15% 18%);
/* overlay version of widget-bg */
@define-color widget-bg-80 hsl(135 18% 64% / 0.8);

/* Metric / UI text */
/* amber */
@define-color text-cpu hsl(35 80% 18%);
@define-color text-weather hsl(35 80% 18%);
/* blue */
@define-color text-memory hsl(210 70% 24%);
/* teal */
@define-color text-volume hsl(180 50% 18%);
/* near-black */
@define-color text-title-focused hsl(220 15% 18%);
/* green accent */
@define-color text-clipboard hsl(150 35% 20%);
/* neutral */
@define-color text-clock hsl(210 10% 24%);

/** General **/
.container {
  font-size: 16px;
}

.widget {
  margin: 2px 1px;
  border-radius: 10px;
  background: @widget-bg;
  border: 1px solid @widget-border;
}

.widget:hover {
  background: @widget-bg-hover;
  transition: all 0.3s ease-in-out;
}

.background {
  background-color: rgba(0, 0, 0, 0);
}

/** Modules **/

/* sysinfo */
.sysinfo {
  padding: 2px;
}

.sysinfo .item {
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 18px;
  letter-spacing: 0.1px;
  padding: 0 5px;
  border-radius: 10px;
  color: @text-default;
  background: @widget-inner-bg;
}

/* cpu */
.sysinfo .item:nth-child(1) {
  color: @text-cpu;
}

/* memory */
.sysinfo .item:nth-child(2) {
  color: @text-memory;
}

/* volume */
.volume {
  color: @text-volume;
}

.popup-volume {
  padding: 5px;
  border-radius: 5px;
  color: @text-default;
  background-color: @widget-bg-80;
  border: 2px solid @widget-border;
}

/* weather */
.weather {
  color: @text-weather;
}

.table-header {
  font-size: 2.0em;
  padding-bottom: 0.4em;
  margin-bottom: 0.6em;
  border-bottom: 2px solid @widget-border;
}

.head-column {
  padding-right: 1em;
}

.value-column {
  margin-left: 1em;
  border-left: 1px solid @widget-border;
}

.column-header {
  font-size: 1.8em;
}

.column-value {
  font-size: 1.5em;
}


/* clock */
.clock {
  color: @text-clock;
}

.popup-clock {
  font-weight: bolder;
  background-color: @widget-bg-80;
  border-radius: 10px;
  border: 2px solid @widget-border;
  color: @text-default;
}

.popup-clock .calendar-clock {
  color: @text-clock;
  font-size: 2em;
}

.popup-clock .calendar {
  background-color: @widget-bg-80;
  color: @text-default;
  border-radius: 10px;
}

.popup-clock .calendar .header {
  padding-top: 1em;
  border-top: 1px solid @widget-border;
  font-size: 1.5em;
}

.popup-clock .calendar:selected {
  background-color: @widget-bg-hover;
}

/* focused app title */
.focused {
  padding: 3px;
  color: @text-title-focused;
}

/* clipboard */
.clipboard {
  padding: 0 10px;
  color: @text-clipboard;
}

.popup-clipboard {
  padding: 5px;
  border-radius: 5px;
  color: @text-default;
  background: @widget-bg;
  background-color: @widget-bg-80;
  border: 2px solid @widget-border;
}