[Desktop Entry]
Name=Ironbar
Comment=Wayland bar for niri
Exec=ironbar
Type=Application
X-GNOME-Autostart-enabled=true
OnlyShowIn=GNOME;Unity;XFCE;LXQt;Niri;